<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico"/>

        <title>DashBoard</title>

        <!-- Bootstrap core CSS -->
        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:href="@{/admin}">DashBoard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" th:href="@{/admin/usuarios}"> Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" th:href="@{/admin/cursos}"> Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" th:href="@{/admin/disciplinas}"> Disciplinas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <dvi class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <div class="col-md-10">
                            <h1>Lista de Cursos</h1>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary float-right" href="#" th:href="@{/admin/curso/inserir}" role="button">
                                + Adicionar
                            </a>
                        </div>
                    </div>
                    <div class="card-body">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Vagas</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="curso : ${getAllCursos}">
                                <td th:text="${curso.id}"></td>
                                <td th:text="${curso.nome}"></td>
                                <td th:text="${curso.vagas}"></td>
                                <td><a class="btn btn-success" th:href="@{/admin/curso/atualizar/{id}(id=${curso.id})}">Editar</a></td>
                                <td><a class="btn btn-danger" th:href="@{/admin/curso/excluir/{id}(id=${curso.id})}">Excluir</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </dvi>


    </body>

</html>
